@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import "tailwindcss";

.funnel-display{
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}